In [1]:
from sklearn.feature_extraction import DictVectorizer

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",100)

from sklearn.model_selection import train_test_split

https://forge.scilab.org/index.php/p/rdataset/source/tree/master/csv/datasets/Titanic.csv

In [2]:
titanic = pd.read_csv("Titanic.csv", index_col=0)

In [3]:
X, y = titanic.drop("Survived", axis=1), titanic.Survived

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12345)

### DictVectorizer - fit plus transform on the training set

In [5]:
X_train.head()

   Class     Sex    Age  Freq
26   2nd    Male  Adult    14
22   2nd  Female  Child    13
21   1st  Female  Child     1
8   Crew  Female  Child     0
7    3rd  Female  Child    17

In [6]:
dvec = DictVectorizer(sparse=False)
X_dict = dvec.fit_transform(X_train.transpose().to_dict().values())
X_train = pd.DataFrame(X_dict, columns=dvec.get_feature_names(), index=X_train.index)

In [7]:
X_train.head()

,Age=Adult,Age=Child,Class=1st,Class=2nd,Class=3rd,Class=Crew,Freq,Sex=Female,Sex=Male
26,1.0,0.0,0.0,1.0,0.0,0.0,14.0,0.0,1.0
22,0.0,1.0,0.0,1.0,0.0,0.0,13.0,1.0,0.0
21,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
8,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
7,0.0,1.0,0.0,0.0,1.0,0.0,17.0,1.0,0.0

### DictVectorizer - transform the test set based on the dict vectorizer fitted on the training set
The same code can be used to transform any new data

In [8]:
X_dict = dvec.transform(X_test.transpose().to_dict().values())
X_test = pd.DataFrame(X_dict, columns=dvec.get_feature_names(), index=X_test.index)

In [9]:
X_test.head()

,Age=Adult,Age=Child,Class=1st,Class=2nd,Class=3rd,Class=Crew,Freq,Sex=Female,Sex=Male
28,1.0,0.0,0.0,0.0,0.0,1.0,192.0,0.0,1.0
13,1.0,0.0,1.0,0.0,0.0,0.0,4.0,1.0,0.0
19,0.0,1.0,0.0,0.0,1.0,0.0,13.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
16,1.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0

In [10]:
from sklearn.externals import joblib

In [12]:
joblib.dump(dvec, "dvec_titanic.pkl")

['dvec_titanic.pkl']

In [13]:
dvec.feature_names_

['Age=Adult',
 'Age=Child',
 'Class=1st',
 'Class=2nd',
 'Class=3rd',
 'Class=Crew',
 'Freq',
 'Sex=Female',
 'Sex=Male']

In [14]:
dvec_load = joblib.load("dvec_titanic.pkl")

In [15]:
dvec_load.feature_names_

['Age=Adult',
 'Age=Child',
 'Class=1st',
 'Class=2nd',
 'Class=3rd',
 'Class=Crew',
 'Freq',
 'Sex=Female',
 'Sex=Male']